## map/reduce

* map()函数和reduce()函数

### map()函数

* 接收两个参数，一个是函数，一个是Iterable，map将传入的函数依次作用到序列的每个元素，并把结果作为新的Iterator返回。

In [1]:
def f(x):
    return x * x

In [4]:
r = map(f,[1,2,3,4,5,6,7,8,9])
list(r)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
#使用for循环
L = []
for n in [1,2,3,4,5,6,7,8,9]:
    L.append(f(n))
print(L)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
#所以数字转换为字符串
list(map(str,[1,2,3,4,5,6,7,8,9]))

['1', '2', '3', '4', '5', '6', '7', '8', '9']

### reduce()函数

* 这个函数接收两个参数，reduce把结果继续和序列的下一个元素做累积计算

In [1]:
reduce(f,[x1,x2,x3,x4]) = f(f(f(x1,x2),x3),x4)

SyntaxError: can't assign to function call (<ipython-input-1-e517be3dbe84>, line 1)

In [14]:
#序列求和
from functools import reduce
def add(x,y):
    return x + y

In [3]:
reduce(add,[1,2,3,4,5])

15

In [4]:
#把序列[1,2,3,4,5]变成整数12345
def fn(x,y):
    return x * 10 + y

In [5]:
reduce(fn,[1,2,3,4,5])

12345

In [15]:
#把str转换为int
def fn(x,y):
    return x * 10 + y

In [16]:
def char2num(s):
    return {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}[s]

In [18]:
reduce(fn,map(char2num,'12345'))

12345

In [19]:
#使用lambda函数简化
def char2num(s):
    return {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}[s]

def str2int(s):
    return reduce(lambda x,y:x * 10 + y,map(char2num,s))

In [27]:
str2int('12345')

12345

#### 小练习

* 名字的首字母大写，其余字母小写

In [28]:
def normalize(name):
    name = name[0].upper() + name[1:].lower()
    return name

In [30]:
L1 = ['adam','LISA','barT']
L2 = list(map(normalize,L1))
L2

['Adam', 'Lisa', 'Bart']

* 编写一个prod()函数，接收一个list用reduce()求积

In [38]:
def prod(L):
    return reduce(lambda x,y : x * y,L)

In [39]:
prod([1,2,3,4,5])

120

* 利用 map 和 reduce 编写一个 str2float 函数，把字符串'123.456'转换成浮点数 123.456

In [44]:
def str2float(s):
    def fn(x,y):
        return x * 10 + y
    def char2num(s):
        return {'1':1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8,'9':9,'0':0}[s]
    return reduce(fn,map(char2num,s.replace(".","")))

In [50]:
s = "123.456"
if s.find(".") != -1:
    print('str2float(\'%s\') = '%s,str2float(s) / pow(10,(len(s) - s.find(".")-1)))
else:
    print('str2float(\'%s\')='%s,str2float(s))

str2float('123.456') =  123.456
no