# 常用内建模块

## datetime

### 获取当前日期和时间

In [1]:
from datetime import datetime
now = datetime.now()#获取当前时间
print(now)

2018-11-08 22:00:27.392345

In [2]:
print(type(now))

<class 'datetime.datetime'>

### 获取指定日期和时间

In [3]:
dt = datetime(2015,4,19,12,20)#指定日期时间
print(dt)

2015-04-19 12:20:00

### datetime转换为timestamp

timestamp = 0 = 1970-1-1 00:00:00 UTC+0:00
#北京时间为
timestamp = 0 = 1970-1-1 -9:00:00 UTC+8:00

In [7]:
dt = datetime(2015,4,19,12,20)
dt.timestamp()

1429417200.0

### timestamp转换为datetime

In [9]:
t = 1429417202.0
print(datetime.fromtimestamp(t))

2015-04-19 12:20:02

### timestamp转换为UTC标准时区

In [10]:
t = 1429417200.0
print(datetime.fromtimestamp(t))#本地时间

2015-04-19 12:20:00

In [11]:
print(datetime.utcfromtimestamp(t))#UTC时间

2015-04-19 04:20:00

### str转换为datetime

In [13]:
cday = datetime.strptime('2015-6-1 18:19:59','%Y-%m-%d %H:%M:%S')
print(cday)#没有时区信息

2015-06-01 18:19:59

### datetime转换为str

In [15]:
now = datetime.now()
print(now.strftime('%a,%b %d %H:%M:%S'))

Thu,Nov 08 22:16:39

### datetime加减

In [16]:
from datetime import timedelta
now = datetime.now()
now

datetime.datetime(2018, 11, 8, 22, 17, 47, 71699)

In [17]:
now + timedelta(hours=10)

datetime.datetime(2018, 11, 9, 8, 17, 47, 71699)

In [18]:
now - timedelta(days=1)

datetime.datetime(2018, 11, 7, 22, 17, 47, 71699)

In [19]:
now + timedelta(days=2,hours=12)

datetime.datetime(2018, 11, 11, 10, 17, 47, 71699)

### 本地时间转换为UTC时间

In [27]:
from datetime import timezone
tz_utc_8 = timezone(timedelta(hours=8))
now = datetime.now()
now

datetime.datetime(2018, 11, 8, 22, 23, 11, 901426)

In [30]:
dt = now.replace(tzinfo = tz_utc_8)#强制设置为UTC+8:00
dt

datetime.datetime(2018, 11, 8, 22, 23, 11, 901426, tzinfo=datetime.timezone(datetime.timedelta(seconds=28800)))

### 时区转换

In [31]:
#拿到utc时间，强制设置时区为UTC+0:00
utc_dt = datetime.utcnow().replace(tzinfo = timezone.utc)
print(utc_dt)

2018-11-08 14:25:05.884656+00:00

In [32]:
#转换为北京时间
bj_dt = utc_dt.astimezone(timezone(timedelta(hours=8)))
print(bj_dt)

2018-11-08 22:25:05.884656+08:00

In [33]:
#转换为东京时间
tokyo_dt = utc_dt.astimezone(timezone(timedelta(hours=9)))
print(tokyo_dt)

2018-11-08 23:25:05.884656+09:00